html {
  font-size: 62.5%;
  /* Root font-size 1rem = 10px
    Default font-size is 16px, --> (10/16=0.625)*100=62.5%.  */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  /* width: 375px; */
  /* font-size: 62.5%; */
  font-family: AvenirNext-DemiBold;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

.body-box {
  /* width: 375px; */
  width: auto;
  box-shadow: 0 0.4rem 1.4rem 0 rgb(166 179 194 / 30%);
}

.section-onboarding {
  background: url("/assets/img/Onboarding/Illustration.png") no-repeat;
  /* height: 100vh; */
  height: 81.2rem;
  position: relative;
}

.section-onboarding h2 {
  width: 20.9rem;
  height: 6.6rem;
  color: rgb(60 100 198);
  font-size: 2.4rem;
  font-family: AvenirNext-DemiBold;
  font-weight: 600;
  text-align: right;
  position: absolute;
  /* left: 137; */
  right: 25;
  bottom: 130;
}

.section-onboarding img {
  position: absolute;
  right: 50;
  bottom: 50;
  /* width: 48px;
  height: 48px; */
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

/* HOME SECTION STARTS */

.section-home {
  /* width: 375px; */
  /* border: 0.1px solid; */ /* REMOVE LATER */
}

.notify {
  /* width: 375px; */
  height: 7.2rem;
  padding: 2.1rem;
}

.color-bg-home {
  background: rgb(137, 170, 250);
}

.notify span {
  color: rgb(57 87 156);
  font-size: 1.4rem;
  font-family: SFProText-Semibold;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.28px;
}

.battery {
  width: 2.5rem !important;
}

.status-icons img {
  width: 1.5rem;
  height: 1.2rem;
}

.home-info {
  /* width: 375px; */
  height: 25rem;
  background: rgb(66, 116, 235);
  border-radius: 0px;
  padding: 3.5rem;
  color: #fff;
  line-height: 2;
  /* display: flex; */
}

.home-info h2,
.storage-header h2,
.notification-header h2 {
  font-size: 3.4rem;
}

.home-light {
  color: rgb(169 193 250);
  font-size: 2rem;
  font-family: AvenirNext-DemiBold;
  font-weight: 600;
}

.home-info h3 {
  font-size: 2.4rem;
  width: auto;
  font-weight: 600;
}

.home-info h3 span {
  font-size: 1.8rem;
}

.home-info img {
  width: 3.2rem;
  height: 3.2rem;
}

.notify span,
.status-icons,
.home-info h3,
.home-info img {
  margin: 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  /* width: 30.5rem; */
  width: 100%;
  border-radius: 5px;
}

progress::-webkit-progress-bar {
  border-radius: 0.5rem;
  height: 0.6rem;
  background-color: rgb(60, 100, 199);
}

progress::-webkit-progress-value {
  background: rgb(255, 106, 162);
  border-radius: 0.5rem;
}

.home-content {
  height: 51.8rem;
  background-color: #fff;
  margin-top: -3.1rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
}

.search-bar {
  padding: 2.5rem;
  /* height: 95px; */
}

.search-bar input {
  width: 100%;
  color: #9fa7c1;
  font-size: 1.6rem;
  font-weight: lighter;
  border: none;
  border-radius: 2.5rem;
  background: url(/assets/img/magnifying-glass.svg) no-repeat;
  background-size: 2.5rem;
  background-position: 1.2rem 1rem;
  background-color: #edf1fa;
  padding: 1.12rem 4.8rem;
}

.search-bar input::-webkit-input-placeholder {
  color: #9fa7c1;
}

.search-bar input:focus {
  outline: none;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden;
}

.tabs [class^="tab"] label,
.tabs [class*=" tab"] label {
  color: rgb(142 149 162);
  cursor: pointer;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.3rem;
  padding: 0 0 1.6rem;
  text-align: center;
  text-transform: uppercase;
  font-family: AvenirNext-DemiBold;
}
.tabs [class^="tab"] [type="radio"],
.tabs [class*=" tab"] [type="radio"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  /* -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

.tabs [class^="tab"] [type="radio"]:checked,
.tabs [class*=" tab"] [type="radio"]:checked {
  border-bottom: 0.4rem solid rgb(87, 134, 248);
  border-radius: 2.5rem 2.5rem 0 0;
  width: 12.5rem;
}
.tabs [class^="tab"] [type="radio"]:checked + div,
.tabs [class*=" tab"] [type="radio"]:checked + div {
  opacity: 1;
}
.tabs [class^="tab"] [type="radio"] + div,
.tabs [class*=" tab"] [type="radio"] + div {
  display: block;
  opacity: 0;
  padding: 2rem 0;
  width: 90%;
  /* -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; */
}

.tabs .tab-2 {
  width: 50%;
  /* border-bottom: 1px solid; */
}

.tabs .tab-2 [type="radio"] + div {
  width: 200%;
  margin-left: 200%;
}

.tabs .tab-2 [type="radio"]:checked + div {
  margin-left: 0;
}

.tabs .tab-2:last-child [type="radio"] + div {
  margin-left: 100%;
}

.tabs .tab-2:last-child [type="radio"]:checked + div {
  margin-left: -100%;
}

.tab-details {
  height: 31.7rem;
  overflow-x: hidden;
  border-top: 0.1rem solid rgb(211, 215, 224);
}

.folders,
.files {
  padding: 0 2.5rem;
}

.file-details h4 {
  color: rgb(65 70 79);
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.file-1 h4 {
  padding-top: 0;
}

.file-names {
  display: flex;
  justify-content: space-between;
  color: rgb(159 167 193);
  padding: 1rem;
  border-bottom: 0.1rem solid rgb(237 241 250);
}

.file-names p,
.file-names i {
  margin: 0;
}

.folders {
  display: flex;
  flex-wrap: wrap;
}

/* .folders > div {
  flex: 50%;
} */

.flex-con-folder {
  display: flex;
  justify-content: space-between;
}

.folder-size {
  width: 15rem;
  height: 15rem;
  color: rgb(65 70 79);
  padding: 1.8rem;
  margin: 1rem 0.5rem;
  background: rgb(245, 247, 252);
  border-radius: 3rem;
  font-size: 1.6rem;
}

.options {
  cursor: pointer;
  font-size: 1.6rem;
  color: rgb(149 159 186);
}

.dropdown {
  color: #fff;
  max-height: 0;
  overflow: hidden;
  background: rgb(66, 116, 235);
  position: absolute;
  transition: max-height 0.4s ease-in;
  /*padding: 10px;*/
}

.dropdown li {
  display: block;
  margin: 0;
  padding: 0.5rem;
}

.folder-details li:hover .dropdown {
  max-height: 15rem; /* Change to JS Code */
}

.folder-details li:first-child {
  font-size: 1.6rem;
}

.folder-details li:first-child span {
  color: rgb(142 149 162);
  font-size: 1.4rem;
}

.mystyle {
  width: 100%;
  padding: 2.5rem;
  background-color: coral;
  color: white;
  font-size: 2.5rem;
  box-sizing: border-box;
}

.nav {
  /* border: 1px solid black; */
  padding: 2rem;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(166, 179, 194, 0.3);
  height: 7.3rem;
}

.icons-menu i {
  font-size: 2rem;
}

.bi-plus,
.bi-check {
  font-size: 3rem !important;
  font-weight: bold;
}

.icons-menu a:link,
.icons-menu a:visited {
  color: rgb(149, 159, 186);
}

.icons-menu a:hover,
.icons-menu a:active {
  color: rgb(66, 116, 235);
  cursor: pointer;
}

.on-focus {
  color: rgb(66, 116, 235);
}

.diamond-shape {
  background: url(/assets/img/diamond.svg) no-repeat;
}

/* HOME SECTION ENDS */

/* STORAGE SECTION STARTS */

.section-storage {
  height: 812px;
}

.color-bg-storage {
  background: rgb(232 240 255);
}

.storage-header,
.notification-header {
  /* width: 375px; */
  border-radius: 0px;
  padding: 2rem 3.5rem 3.5rem;
  color: rgb(52 80 148);
  line-height: 2;
  /* display: flex; */
}

.storage-header .search-bar {
  padding: 0;
}

.storage-flex {
  flex: 1;
  display: flex;
  overflow: auto;
  padding: 0 2.5rem 2.5rem;
}

.storage-categories {
  display: flex;
}

.category-container {
  color: rgb(119 125 138);
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
  font-family: AvenirNext-Medium;
}

.rect-body:first-of-type {
  margin-left: 1rem;
}

.rect-body {
  width: 7.2rem;
  height: 7.2rem;
  padding: 1.8rem;
  margin: 1rem 1.5rem;
  font-size: 2.8rem;
  border-radius: 3rem;
}

.play {
  color: rgb(0 188 212);
  background-color: rgb(232 248 251);
}

.image {
  color: rgb(255 192 7);
  background-color: rgb(255 245 215);
}

.music {
  color: rgb(34 150 243);
  background-color: rgb(235 246 254);
}

.key {
  color: rgb(74 195 103);
  background-color: rgb(232 248 236);
}

.download {
  color: rgb(247 74 97);
  background-color: rgb(247 202 208);
}

.doc {
  color: rgb(141 110 99);
  background-color: rgb(240 237 234);
}

.storage-list {
  height: 36.3rem;
  overflow-x: hidden;
  padding: 0 2.5rem 2.5rem;
}

.icon-col:first-of-type {
  margin-top: 1.5rem;
}

.icon-col {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0;
}

.icon-col span,
.icon-col p,
.icon-col i {
  margin: 0;
}

.icon-col p {
  flex: 1;
  color: rgb(65 70 79);
  font-size: 1.6rem;
  font-family: AvenirNext-Medium;
  margin-left: 1.5rem;
}

.icon-col p span {
  color: rgb(142 149 162);
  font-size: 1.4rem;
  font-family: AvenirNext-Medium;
}

.icon-col .flex-container {
  justify-content: center;
}

.rect-small {
  width: 5.2rem;
  height: 5.2rem;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 1.5rem;
}

/* STORAGE SECTION ENDS */

/* NOTIFICATION SECTION STARTS */

.notify-panel {
  height: 54.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3.5rem;
  line-height: 2.2rem;
  text-align: center;
  /* background: url(/assets//img/Notifications/illustration.png) no-repeat; */
}

.content {
  padding: 3.6rem 1rem;
}

.content h3 {
  color: rgb(52 80 148);
  font-size: 2rem;
  font-family: AvenirNext-DemiBold;
}

.content p {
  /* color: rgb(142 149 162); */
  color: rgb(109 115 129);
  padding: 1.5rem 0;
  font-size: 1.5rem;
  font-family: AvenirNext-Medium;
}

/* NOTIFICATION SECTION ENDS */

/* MEDIA QUERIES */

@media only screen and (min-width: 25em) {
  .folders {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 56.25em) {
  /* min-width: 900px */
  .body-box {
    width: 37.5rem;
  }
}

@media only screen and (max-width: 21.88em) {
  /* max-width: 350px */
  html {
    font-size: 56.25%; /* 1rem = 8px */
  }

  .section-onboarding {
    height: 100%;
    background-size: cover;
    background-position: bottom;
  }

  .section-onboarding h2 {
    bottom: 11rem;
  }

  .section-onboarding img {
    bottom: 3.3rem;
  }

  .folder-size {
    width: 13.5rem;
    height: 13.5rem;
  }

  .folder-details li:first-child span {
    font-size: 1.3rem;
  }

  .storage-list {
    height: 45.3rem;
  }

  .notify-panel {
    height: 63.4rem;
  }

  .notify-panel img {
    width: 30rem;
  }
}
